<footer class="bg-white px-4 py-2 w-full text-sm">
    <div class="flex flex-col gap-0.5">
        <span>
            <a class="text-blue-500" href="https://example.com/">Privacy Policy</a> -
            <a class="text-blue-500" href="https://example.com/">GDPR Privacy Policy</a>
        </span>
        <a class="text-blue-500" href="https://example.com/">Cookie Notice</a>
    </div>
</footer>